.dashboard__subCard__title {
    background-color: aliceblue;
}

.dashboard__subCard__title:hover {
    background-color: beige;
}

.dashboard__card > div{
    min-height: 2.3rem;
    max-height: 75vh;   
    min-width: 2rem ;
    max-width: auto;
    overflow-x: auto;
    overflow-y: auto;
}

.dashboard__card > div::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #F5F5F5;
}

.dashboard__card > div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a5b3c9;
}

.dashboard__card__header {
    background-color: #596984;
}

.dashboard__card__title {
    background-color: #596984;
}

.dashboard__container {
    overflow-x: auto;
}

.dashboard__container::-webkit-scrollbar { 
    display: none; 
}
